#image {
  max-width: 100%;
  height: auto;
  margin: auto;
}
img {
  display: block;
  margin: auto;
}
body {
  background-color: rgb(253, 42, 27);
  text-align: center;
  font-family: "Playfair Display", serif;
}
#title {
  text-align: center;
  font-size: 35px;
}